@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --color-main: rgb(32, 34, 40);
    --color-main-bright: rgb(88, 219, 171);
    --color-text: rgb(255, 255, 255);
    
    --color-1: color-mix(in srgb, var(--color-main) 95%, var(--color-main-bright)); /* 5% Brightness */
    --color-2: color-mix(in srgb, var(--color-main) 75%, var(--color-main-bright)); /* 25% Brightness */
    --color-3: color-mix(in srgb, var(--color-main) 50%, var(--color-main-bright)); /* 50% Brightness */
    --color-4: color-mix(in srgb, var(--color-main) 20%, var(--color-main-bright)); /* 80% Brightness */
    --color-5: color-mix(in srgb, var(--color-main) 5%, var(--color-main-bright)); /* 95% Brightness */

    --color-1-transparent: color-mix(in srgb, var(--color-1), transparent 40%);
    --color-2-transparent: color-mix(in srgb, var(--color-2), transparent 40%);
    --color-3-transparent: color-mix(in srgb, var(--color-3), transparent 40%);
    --color-4-transparent: color-mix(in srgb, var(--color-4), transparent 40%);
    --color-5-transparent: color-mix(in srgb, var(--color-5), transparent 40%);
    
    --color-text-2: rgb(240,240,240);
}

body {
    font-family: "Titillium Web", sans-serif;
    background-color: var(--color-main);
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-text);
    margin: 0 auto;
}

#wrapper-outer {
    background-color: rgba(11, 12, 14, 0.75);
    width: 100%;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    width: 1280px;
    margin: auto;
}

h2, h4, p {
    margin: 0;
}

.text-light {
    font-weight: 300;
}

.text-heading-light {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    color: var(--color-4);
}

.station-panel-container {
    margin-bottom: 10px;
}

.station-panel, .chart-panel {
    background-color: var(--color-1-transparent);
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 15px 0;
    backdrop-filter: blur(5px);
}

.station-panel-container.active > .station-panel {
    border-radius: 15px 15px 0 0;
    background-color: var(--color-2-transparent);
}

.station-panel-container .station-panel-more img {
    transition: transform 0.3s ease; /* Smooth rotation */
}

.station-panel-container.active .station-panel-more img {
    transform: rotate(180deg);
}


.station-panel:not(.chart-panel) {
    transition: 0.35s ease background-color;
    cursor: pointer;
}

.station-panel:not(.chart-panel):hover {
    background-color: var(--color-2-transparent);
}

.station-panel-left {
    text-align: center;
    min-width: 200px;
    padding: 0 25px;
}

.station-panel-ps {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-main-bright);
}

.station-panel-details {
    background-color: var(--color-1-transparent);
    padding: 15px 30px;
    border-radius: 0 0 15px 15px;
    border: 3px solid var(--color-2-transparent);
    border-top: none;
}

.antenna-button {
    width: 100%;
    border-bottom: 2px solid var(--color-1);
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-1-transparent);
    transition: 0.3s ease background-color;
    cursor: pointer;
}

.antenna-button:hover {
    background-color: var(--color-2-transparent);
}

.antenna-button.active {
    background-color: var(--color-2-transparent);
}

@media (max-width: 1280px) {
    .wrapper {
        width: 95%;
    }
    h1, h2 {
        width: 90%;
        margin: auto;
    }
    .station-panel {
        display: block;
    }
    .station-panel-center {
        text-align: center;
        width: 100% !important;
    }
    .station-panel-right {
        text-align: center;
        width: 100% !important;
    }
    .station-panel-more {
        font-size: 16px !important;
        width: 100% !important;
    }
  }
  